<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LGU 宿舍需求平台</title>
</head>
<body style="width: calc(100% - 16px);">
    <div style="width: 100%; display: flex; flex-direction: column  ; justify-content: space-between">
    <h1 ><a href="/" style="text-decoration: none;
        color: black;">LGU 宿舍需求平台</a></h1>
    <div style="display: flex; flex-direction: row; align-items: flex-end; align-self: flex-end;">
    <a href="http://www.ipolaris.club/" >北极星工作室</a>
    <a href="https://github.com/PolarisStudio/LGUDorm" style="margin: 0 10px">GitHub Link</a>
    </div>
    </div>
    <br>
    <br>
    <div>
        <h4>搜索</h4>
    <form action="/query" method="get" style="width: 100%; display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-around ">
        <select name="college" id="" style="width: 15%; font-size: 12pt">
            <option value="逸夫">逸夫</option>
            <option value="学勤">学勤</option>
            <option value="思廷">思廷</option>
            <option value="祥波">祥波</option>
        </select>
        <input type="text" name="keyword" placeholder="可以用空格分隔关键字" style="width: 55%; font-size: 12pt"/>
        <input type="submit" value="搜索" style="width: 20%; font-size: 12pt; " >
    </form>
    </div>

    <hr>

    <div style="width: 100%">
            <h4>添加记录</h4>

    <form action="/add" method="get" style="width: 100%; display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-around ">
        <select name="college" id="" style="width: 15%; font-size: 12pt">
            <option value="逸夫">逸夫</option>
            <option value="学勤">学勤</option>
            <option value="思廷">思廷</option>
            <option value="祥波">祥波</option>
        </select>
        <input type="text" name="note" placeholder="需求备注" style="width: 55%; font-size: 12pt"/>
        <input type="text" name="contact" placeholder="联系方式" style="width: 20%; font-size: 12pt"/>
        <input type="submit" value="提交" style="width: 95%; font-size: 12pt; margin-top: 10px; margin-left: auto; margin-right: auto;" >
    </form>
    </div>

    <p>
        注意：在需求中最好遵守以下格式，以方便其他用户搜索到你的信息：<br>
        1. 冒号请用半角:<br>
        2. 请按照 属性: 内容 或者 纯属性 的格式进行填写，例如： <b>性别: 男</b>  睡觉: XX:XX 起床: XX:XX 不打游戏/打游戏 。<br>
        3. 联系方式： 手机: XXXXXXXXXXX 或者 微信: XXX 的形式。<br>
        4. 匹配好之后请及时删除你的信息，以免信息过多造成不便。<br>
    </p>

    <!-- <select></select> -->
    <p>共{{datalength}}条记录</p>
    <br>
    <hr>
    <table width="100%" style="font-size: 12pt">
        <thead>
            <td>ID</td>
            <!-- <td>时间</td> -->
            <td>书院</td>
            <td>需求</td>
            <td>联系方式</td>
            <td>删除记录</td>
        </thead>
        {% for d in data %}
            <tr>
                <td width="5%">{{d.pk}}</td>
                <!-- <td width="20%">{{d.fields.time}}</td> -->
                <td width="5%">{{d.fields.college}}</td>
                <td width="60%">{{d.fields.note}}</td>
                <td width="15%">{{d.fields.contact}}</td>
                <td width="15%">
                    
                        <a href="/delete?id={{d.pk}}"><button>
                        删除</button>
                        </a>
                    
                </td>
            </tr>
        {% endfor %}
        <tr>

        </tr>
    </table>
</body>
</html>